.top-sellers {
  padding: 2rem;
  background-color: #1b1b2f;
  color: white;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.header-title {
  font-size: 28px; /* Increased font size */
  color: #ffffff;
}

.timeframe select {
  padding: 5px 10px;
  background: #3c3c47;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
}

.seller-grid {
  display: flex; /* Changed to flex for horizontal layout */
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 25px;
}

.seller-card {
  background: #281a31;
  border-radius: 10px;
  padding: 1rem;
  text-align: left; /* Align text to left */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  position: relative;
  display: flex;
  align-items: center; /* Center items vertically */
}

.seller-card:hover {
  transform: translateY(-5px);
}

.seller-img {
  width: 80px; /* Adjusted width */
  height: 80px; /* Adjusted height */
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem; /* Space between image and text */
}

.seller-info {
  flex-grow: 1; /* Allow info to take remaining space */
}

.seller-actions {
  display: flex;
  gap: 0.5rem; /* Space between buttons */
}

.seller-actions .fav-btn {
  background: transparent;
  border: none;
  color: #b8b8d4;
  cursor: pointer;
  font-size: 1.5rem; /* Adjusted size for icons */
}

.seller-info h3 {
  font-size: 1rem;
  color: #ffffff;
  margin: 0.5rem 0;
}

.seller-info p {
  font-size: 0.9rem;
  color: #b8b8d4;
}


@media (max-width: 768px) {
  .top-sellers {
    padding: 1rem; 
    padding-bottom: 50px;
  }
  .seller-card {
    padding: 0.5rem; 
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .seller-img {
    width: 60px; 
    height: 60px;
  }
  .seller-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}